.List {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 0;
}

.Container {
    border: 1px solid black;
    border-radius: 18px;
    flex-basis: calc((100% - 48px) / 6);
    background-color: transparent;
    padding: 6px;
}